{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=cardano_test;Username=cardano_user;Password=CHANGE_ME"
  },
  "Api": {
    "GatewayHost": "CHANGE_ME"
  },
  "AWS": {
    "Region": "eu-west-1",
    "CognitoUserPoolId": "CHANGE_ME",
    "CognitoClientId": "CHANGE_ME",
    "CognitoClientSecret": "CHANGE_ME",
    "CognitoAuthority": "https://cognito-idp.eu-west-1.amazonaws.com/CHANGE_ME",
    "CognitoClientIds": [
      "CHANGE_ME"
    ]
  },
  "MinIO": {
    "Endpoint": "https://CHANGE_ME",
    "AccessKey": "CHANGE_ME",
    "SecretKey": "CHANGE_ME",
    "BucketName": "remote-condenser",
    "Region": "eu-east-1",
    "UseSSL": true,
    "RequestTimeoutSeconds": 90
  }
}
